In [1]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter='ignore'

In [2]:
df=pd.read_csv("/Data/AB_NYC_2019.csv",usecols=[1,2,3])

In [3]:
# Missing values are randomly and near about 5% values are missing 
df

         host_name host Gender neighbourhood
0             John           M    Kensington
1         Jennifer           F       Midtown
2        Elisabeth           F        Harlem
3      LisaRoxanne           F  Clinton Hill
4            Laura           F   East Harlem
...            ...         ...           ...
48848          NaN         NaN           NaN
48849          NaN         NaN           NaN
48850          NaN         NaN           NaN
48851          NaN         NaN           NaN
48852          NaN         NaN           NaN

[48853 rows x 3 columns]

In [4]:
df=df.dropna(how='all')

In [8]:
df['host Gender'].mode()

0    F
dtype: object

In [9]:
df['host Gender'].value_counts()

F     9661
M      218
MM       1
Name: host Gender, dtype: int64

In [10]:
df['host_name'].value_counts()

Michael      99
David        77
Mike         70
Daniel       59
Sarah        56
             ..
Rebeca        1
Véronique     1
Andreas       1
Krystal       1
Ivo           1
Name: host_name, Length: 3723, dtype: int64

In [7]:
df

         host_name host Gender       neighbourhood
0             John           M          Kensington
1         Jennifer           F             Midtown
2        Elisabeth           F              Harlem
3      LisaRoxanne           F        Clinton Hill
4            Laura           F         East Harlem
...            ...         ...                 ...
10021      Michael           F        Williamsburg
10022         Neil           F  Bedford-Stuyvesant
10023         Ezra           F  Washington Heights
10024          Ivo           F         Murray Hill
10025       Sherry           M  Washington Heights

[10026 rows x 3 columns]

In [11]:
df.isnull().sum()

host_name         10
host Gender      146
neighbourhood      0
dtype: int64

In [12]:
df1=df[['host Gender']].fillna(df['host Gender'].mode()[0])

In [13]:
for var in df:
    df[[var]].fillna(df[var].mode()[0], inplace=True) 
    print(var,"=",df[var].mode()[0])

host_name = Michael
host Gender = F
neighbourhood = Williamsburg

C:\Users\Moon Computer\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [82]:
df.isnull().sum()

host_name         10
host Gender      146
neighbourhood      0
dtype: int64