In [45]:
import pandas as pd
import numpy as np

## Interpolation
**Interpolation is a technique in Python with which you can estimate unknown data points between two known data points. It is commonly used to fill missing values in a table or a dataset using the already known values.**

In [ ]:
a=pd.Series([0, 1, np.nan, 3,4,5,7])

### 1. Linear Interpolation

In [48]:
a.interpolate(method='linear',limit_direction='backward')

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    7.0
dtype: float64

### 2. Polynomial interpolation

In [47]:
a.interpolate(method='polynomial', order=2)

0    0.00000
1    1.00000
2    1.99537
3    3.00000
4    4.00000
5    5.00000
6    7.00000
dtype: float64

### 3. Interpolation through padding
**Interpolation through padding means copying the value just before a missing entry.
While using padding interpolation, you need to specify a limit. The limit is the maximum number of nans the method can fill consecutively.**

In [49]:
a.interpolate(method='pad', limit=2)

0    0.0
1    1.0
2    1.0
3    3.0
4    4.0
5    5.0
6    7.0
dtype: float64

## In DataFrame

In [57]:
s = pd.DataFrame([(0.0, np.nan, -2.0, 2.0), (np.nan, 2.0, np.nan, 1), (2.0, 5.0, np.nan, 9.0), (np.nan, 4.0, -3.0, 16.0)], columns=list('abcd'))
s

     a    b    c     d
0  0.0  NaN -2.0   2.0
1  NaN  2.0  NaN   1.0
2  2.0  5.0  NaN   9.0
3  NaN  4.0 -3.0  16.0

### 1. Linear Interpolation with Pandas Dataframe

In [52]:
s.interpolate()

     a    b         c     d
0  0.0  NaN -2.000000   2.0
1  1.0  2.0 -2.333333   1.0
2  2.0  5.0 -2.666667   9.0
3  2.0  4.0 -3.000000  16.0

In [53]:
s['c'].interpolate()

0   -2.000000
1   -2.333333
2   -2.666667
3   -3.000000
Name: c, dtype: float64

### 2. Interpolation through Padding

In [54]:
s.interpolate(method='pad', limit=2)

     a    b    c     d
0  0.0  NaN -2.0   2.0
1  0.0  2.0 -2.0   1.0
2  2.0  5.0 -2.0   9.0
3  2.0  4.0 -3.0  16.0

### 3. Interpolation according to Index

In [58]:
s.interpolate(method='index')

     a    b         c     d
0  0.0  NaN -2.000000   2.0
1  1.0  2.0 -2.333333   1.0
2  2.0  5.0 -2.666667   9.0
3  2.0  4.0 -3.000000  16.0